@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");

.modal__overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(33, 31, 31, 0.5);
  cursor: default;
}

.modal__window {
  display: flex;
  flex-direction: column;
  margin: 13% auto;
  padding: 12px 30px 14px 30px;
  width: 385px;
  height: min-content;
  border-radius: 8px;
  background-color: #343232;
}
.modal__header {
  display: flex;
  align-items: center;
  height: min-content;
  padding-top: 20px;
  border-bottom: solid 1px rgb(200, 200, 193);
}
.white {
  color: whitesmoke;
}
.red {
  color: orangered;
}

.modal__title {
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
  text-align: justify;
  margin-bottom: 40px;
}

.modal__footer {
  height: 70px;
  border-top: solid 1px rgb(200, 200, 193);
}

.modal__footer button {
  padding: 8px 30px;
  border-radius: 4px;
  border: none;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 30px;
  color: whitesmoke;
  margin-top: 20px;
}
.modal__footer button:disabled {
  background: grey;
}
.button__yes {
  background-color: darkgreen;
  margin-left: 40px;
  float: left;
}
.button__no {
  background-color: #d23727;
  float: right;
  margin-right: 40px;
}
.button__no:hover {
  background: #ef5b4c;
  cursor: pointer;
}
.button__yes:hover {
  background: #1d8f0f;
  cursor: pointer;
}

@media (max-width: 767px) {
  .modal__window {
    margin: 35% auto;
    padding: 12px 20px 14px 20px;
    width: 285px;
  }
  .modal__header {
    display: flex;
    align-items: center;
    height: min-content;
    padding-top: 20px;
    border-bottom: solid 1px rgb(200, 200, 193);
  }

  .modal__title {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    text-align: justify;
    margin-bottom: 40px;
  }

  .modal__footer {
    height: 60px;
  }

  .modal__footer button {
    padding: 6px 25px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 24px;
  }
  .button__yes {
    float: left;
  }
  .button__no {
    margin-right: 25px;
  }
}